.settings-footer {
  background-color: var(--white);
  border-radius: 50px;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.icon-btn-pill {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-align: left;
}

.avatar-circle {
  width: 35px;
  height: 35px;
  background-color: #ffc8dd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.1rem;
}

.btn-text {
  display: flex;
  flex-direction: column;
}
.label-title {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--text-primary);
}
.label-subtitle {
  font-size: 0.7rem;
  color: var(--text-secondary);
}

.separator {
  width: 1px;
  height: 25px;
  background-color: #eee;
  margin: 0 10px;
}

.icon-btn-simple {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: var(--text-primary);
  font-weight: 600;
}
.icon-btn-simple:hover i {
  transform: rotate(90deg);
}
